@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #f8f8f8;
    font-family: 'Varela Round', sans-serif;;
}

header {
    text-align: center;
    margin: 20px 0 35px 0;
    font-size: 40px;
}

.menuandboard {
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: rgb(186,225,255);
    margin-right: 20px;
    height: 450px;
    width: 300px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    transform: translateY(-20px);
    display: flex;
    justify-content: space-around;
}

.buttonX, .buttonO {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px gray;
    padding: 5px 15px;
    min-height: 30px;
    min-width: 120px;
    cursor: pointer;
}


.buttonX:active, .buttonO:active {
    transform: translateY(3px);
    box-shadow: none;
    transition: 0.10s;
}

.board {
    width: 450px;
    height: 450px;
    
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186,225,255);
}



.square {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black solid 1px; */
    height: 150px;
    width: 150px;
    font-size: 104px;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

/* remove border for edges */
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
	border-top: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
	border-left: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
	border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
	border-bottom: none;
}

/* Round corners of the play board */

.square:nth-child(1) {
    border-radius:  10px 0 0 0;
}

.square:nth-child(3) {
    border-radius: 0 10px 0 0;
}

.square:nth-child(7) {
    border-radius: 0 0 0 10px;
}

.square:nth-child(9) {
    border-radius: 0 0 10px 0;
}

.square:nth-child(even) {
    background-color: rgb(255,179,186);
}

.square:nth-child(odd) {
    background-color: rgb(255,223,186);
}

.info {
    display: flex;
    justify-content: center;

}

.reset, .play-again, .player-scores {
    margin: 10px 15px 0 5px;
}

.play-again, .reset {
    margin-bottom: 5px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px gray;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.reset {
    margin-right: 3px;
}

.player-scores {
    font-size: 24px;
}

.win-history {
    height: 200px;
    max-height: 200px;
}

ul {
    
    height: 200px;
}

.buttonX, .buttonO {
    font-size: 48px;
    padding: 15px 32px;
    
}

.first {
    font-size: 32px;
    text-align: center;
}

.win-div {
    transform: translateY(-20px);
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 28px;
    padding: 0;
}

.info {
    background-color: rgb(186,225,255);
    width: 670px;
    margin: 10px auto;
    border-radius: 10px;

}
