@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

header {
    text-align: center;
    margin: 20px 0 35px 0;
    font-size: 40px;
}

.menuandboard {
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    margin-right: 20px;
    height: 456px;
    width: 300px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board {
    width: 456px;
    height: 456px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    height: 150px;
    width: 150px;
    font-size: 104px;
    font-family: 'Varela Round', sans-serif;
}

.info {
    display: flex;
    justify-content: center;

}

.reset, .player-scores {
    margin: 10px 15px 0 0;
}

.player-scores {
    font-size: 24px;
}

.win-history {
    height: 200px;
    max-height: 200px;
}

ul {
    border: solid black 1px;
    height: 200px;
}

.buttonX, .buttonO {
    font-size: 48px;
    padding: 15px 32px;
    
}

.buttons {
    transform: translateY(-20px);
    display: flex;
    justify-content: space-around;
}

.first {
    font-size: 32px;
    text-align: center;
}

.win-div {
    transform: translateY(-20px);
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 28px;
    padding: 0;
}
