@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #f8f8f8;
    font-family: 'Varela Round', sans-serif;;
}

header {
    text-align: center;
    margin: 20px 0 35px 0;
    font-size: 40px;
}

.menuandboard {
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: rgb(186,225,255);
    margin-right: 20px;
    height: 456px;
    width: 300px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board {
    width: 454px;
    height: 454px;
    
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186,225,255);
}



.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    height: 150px;
    width: 150px;
    font-size: 104px;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

/* remove border for edges */
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
	border-top: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
	border-left: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
	border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
	border-bottom: none;
}

.square:nth-child(even) {
    background-color: rgb(255,179,186);
}

.square:nth-child(odd) {
    background-color: rgb(255,223,186);
}

.info {
    display: flex;
    justify-content: center;

}

.reset, .player-scores {
    margin: 10px 15px 0 0;
}

.player-scores {
    font-size: 24px;
}

.win-history {
    height: 200px;
    max-height: 200px;
}

ul {
    
    height: 200px;
}

.buttonX, .buttonO {
    font-size: 48px;
    padding: 15px 32px;
    
}

.buttons {
    transform: translateY(-20px);
    display: flex;
    justify-content: space-around;
}

.first {
    font-size: 32px;
    text-align: center;
}

.win-div {
    transform: translateY(-20px);
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 28px;
    padding: 0;
}
